@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 80px;
    background-color: #000000;

    padding: 14px 220px;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 617px;
    height: 52px;
}

.logo {
    width: 82px;
    height: 52px;
    border-radius: 2px;
    border: solid 1px #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.logo a {
    width: 82px;
    height: 45px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.logo img {
    position: absolute;
    left: 9px;
    top: 22px;
}

.nav-links ul {
    width: 472px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    color: #FFFFFF;
}

#active-link {
    color: #F9804B;
}

.design {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    color: #FFFFFF;
}

/* section one */

.section-1 {
    width: 100%;
    height: 780px;
    background-image: url(../../assets/images/Giant\ Panda.png);
    background-size: cover;

    position: relative;
    top: 14px;
}

.ellipse {
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;

    position: absolute;
    left: 50.5%;
    top: 10%;
}

.ellipse-txt {
    width: 500px;
    height: 400px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 106.5px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    position: relative;
    left: 55%;
    top: 20%;
}

.favorite {
    color: #FFEE2E;
}

.section-1 button {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    position: relative;
    top: 27.3%;
    left: 61.5%;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

/* section two*/

.section-2 {
    width: 1161px;
    height: 403px;
    position: relative;
    margin-top: 140px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bamboo-cap {
    width: 609px;
    height: 403px;
    background-image: url(../../assets/images/bamboo-cap.png);
}

.section-2-txt-container {
    width: 465px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2-txt-container h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    text-align: left;
}

.section-2-txt-container h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    text-align: left;
}

.section-2-txt-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    text-align: left;
}

.section-2-flower {
    position: absolute;
    right: 0;
    top: 800px;
}

/* section three */
.section-3 {
    width: 1322px;
    height: 872px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9;
}

.arrow {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background-color: #F9804B;
    position: relative;
    top: 90px;
}

.arrow img {
    position: absolute;
    top: 40%;
    left: 35%;
}

.section-3-grid {
    width: 1158px;
    height: 872px;
    margin-top: 179px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 105px;
}

.grid-row {
    width: 1158px;
    height: 426px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 366px;
    height: 426px;
    border-radius: 5px;
    border: solid 1px #F9804B;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.card-img {
    width: 366px;
    height: 366px;
}

.card-txt-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 22px 21px 17px;
}

.card-txt {
    width: 194px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-txt a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.card-txt p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
    width: 200px;
}

.choose-fav {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    border: none;
    background-color: #FE9013;

    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.5px;
    text-align: center;
    margin-top: 105px;
    margin-bottom: 100px;
}

.palm-img {
    position: absolute;
    left: 0;
    top: 2000px;
    z-index: -1;
}

.strelitzia-img {
    position: absolute;
    right: 0;
    top: 2190px;
    z-index: -1;
}

.section-4 {
    height: 1004px;
    width: 100%;
    position: relative;
    top: 40px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 220px 100px 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-4-content {
    width: 1160px;
    height: 835px;

    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    padding: 41px 54px 59px 99px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-4-txt-container {
    width: 1002px;
    height: 232px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-4-txt-container h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;

    color: #FE9013;
}

.section-4-txt-container h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.section-4-txt-container h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.section-4-txt-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.section-4-img-container {
    width: 764px;
    height: 331px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-4-img-container h2 {
    width: 209px;
    height: 47px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.how-it-works {
    width: 764px;
    height: 236px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-and-title {
    width: 168px;
    height: 244px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-div {
    width: 168px;
    height: 168px;

    background: #FFFFFF;
    border-radius: 5px;
    border: solid 1px #F9804B;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-title {
    width: 168px;
    height: 46px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.arrow-img {
    position: relative;
    top: 70px;
}

.section-4-content button {
    width: 298px;
    height: 54px;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.none {
    display: none;
}